@import '../utilities/colors.scss';

.symbols
{
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.75rem;
    gap: 0.75rem;

    &--lm
    {
        background-color: $color_medium_gray;
    }

    &--dm
    {
        background-color: $color_very_dark_blue;
    }

    &--hcm
    {
        background-color: $color_very_dark_violet;
    }

    @media (max-width: 550px) 
    {
        min-height: 7rem;
    }

    @media (max-width: 375px) 
    {
        width: 6rem;
        min-height: 5.5rem;
        padding: 0.25rem;
        gap: 0.25rem;
    }

    &__container
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        @media (max-width: 375px) 
        {
            gap: 0.25rem;
        }
    }

    &__text
    {
        font-size: 1.25rem;
        text-align: center;
        font-family: Arial;
        height: 1rem;
        padding: 0;
        margin: 0;

        @media (max-width: 375px) 
        {
            padding-bottom: 0.25rem;
        }

        &--lm
        {
            color: $color_black;
        }

        &--dm
        {
            color: $color_white;
        }

        &--hcm
        {
            color: $color_light_yellow;
        }
    }

    &__button
    {
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.175rem;
        border-radius: 0.5rem;
        transition: 0.2s;
        cursor: pointer;

        &:hover
        {
            opacity: 80% !important;
        }

        @media (max-width: 375px) 
        {
            width: 1.75rem;
            height: 1.75rem;
        }

        &--dm
        {
            background-color: $color_medium_dark_blue;
            border-top-color: $color_light_dark_blue;
            border-left-color: $color_light_dark_blue;
            border-bottom-color: $color_very_dark_blue;
            border-right-color: $color_very_dark_blue;

            &:hover
            {
                background-color: $color_very_dark_blue;
            }

            & svg
            {
                fill: $color_white;
            }
        }

        &--hcm
        {
            background-color: $color_medium_dark_violet;
            border-top-color: $color_light_yellow;
            border-left-color: $color_light_yellow;
            border-bottom-color: $color_light_yellow;
            border-right-color: $color_light_yellow;

            &:hover
            {
                background-color: $color_dark_violet;
            }

            & svg
            {
                fill: $color_light_yellow;
            }
        }
    }
}