.options
{
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &__container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div:first-of-type
        {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__text
    {
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1rem;
        margin: 0;

        &--lm
        {
            color: $color_black;
        }

        &--dm
        {
            color: $color_white;
        }

        &--hcm
        {
            color: $color_light_yellow;
        }
    }

    &__button
    {
        width: 6rem;
        height: 2rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s;
        border: 0.15rem solid;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (max-width: 550px) 
        {
            width: 2rem;
        }

        &--lm
        {
            border-top-color: $color_dark_gray;
            border-left-color: $color_dark_gray;
            border-bottom-color: $color_black;
            border-right-color: $color_black;
            cursor: pointer;

            &:active
            {
                background-color: $color_medium_gray !important;
                border-top-color: $color_black;
                border-left-color: $color_black;
                border-bottom-color: $color_dark_gray;
                border-right-color: $color_dark_gray;
            }

            &:hover
            {
                background-color: $color_light_gray;
            }
        }

        &--active-lm
        {
            background-color: $color_medium_gray;
            border-top-color: $color_black;
            border-left-color: $color_black;
            border-bottom-color: $color_dark_gray;
            border-right-color: $color_dark_gray;
        }

        &--dm
        {
            color: $color_white;
            background-color: $color_medium_dark_blue;
            border-top-color: $color_light_dark_blue;
            border-left-color: $color_light_dark_blue;
            border-bottom-color: $color_very_dark_blue;
            border-right-color: $color_very_dark_blue;
            cursor: pointer;

            &:active
            {
                background-color: $color_dark_blue !important;
                border-top-color: $color_very_dark_blue;
                border-left-color: $color_very_dark_blue;
                border-bottom-color: $color_light_dark_blue;
                border-right-color: $color_light_dark_blue;
            }

            &:hover
            {
                background-color: $color_very_dark_blue;
            }

            & svg
            {
                fill: $color_white;

                & g
                {
                    stroke: $color_white;
                }
            }
        }

        &--active-dm
        {
            color: $color_white;
            background-color: $color_dark_blue;
            border-top-color: $color_very_dark_blue;
            border-left-color: $color_very_dark_blue;
            border-bottom-color: $color_light_dark_blue;
            border-right-color: $color_light_dark_blue;

            & svg
            {
                fill: $color_white;

                & g
                {
                    stroke: $color_white;
                }
            }
        }

        &--hcm
        {
            color: $color_light_yellow;
            background-color: $color_medium_dark_violet;
            border-top-color: $color_light_yellow;
            border-left-color: $color_light_yellow;
            border-bottom-color: $color_dark_yellow;
            border-right-color: $color_dark_yellow;
            cursor: pointer;

            &:active
            {
                background-color: $color_light_dark_violet !important;
                border-top-color: $color_dark_yellow;
                border-left-color: $color_dark_yellow;
                border-bottom-color: $color_light_yellow;
                border-right-color: $color_light_yellow;
            }

            &:hover
            {
                background-color: $color_dark_violet;
            }

            & svg
            {
                fill: $color_light_yellow;

                & g
                {
                    stroke: $color_light_yellow;
                }
            }
        }

        &--active-hcm
        {
            color: $color_light_yellow;
            background-color: $color_light_dark_violet;
            border-top-color: $color_dark_yellow;
            border-left-color: $color_dark_yellow;
            border-bottom-color: $color_light_yellow;
            border-right-color: $color_light_yellow;

            & svg
            {
                fill: $color_light_yellow;

                & g
                {
                    stroke: $color_light_yellow;
                }
            }
        }
    }
}